{% extends "base.html" %}

{% block title %}MiWayCyber{% endblock %}
{% block content %}
<h1>Register New User</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}

    {% for field in form if field.type != 'SubmitField' %}
    {% if field.name == 'date_of_birth' %}
            {{ field.label }}: <input type="date" name="{{ field.name }}" placeholder="{{ field.label.text }}" {% if field.data %}value="{{ field.data.strftime('%Y-%m-%d') }}"{% endif %} required>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
                <div style="color: crimson;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        
        {{ field.label }}: {{ field(placeholder=field.label.text,class_="form-control") }}
        <br>
    {% endfor %}

    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}